p,
a {
  font-family: "PT Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
}

div.code,
pre code,
code {
  display: inline;
  font-family: "Share Tech Mono", monospace;
}

pre code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 1%;
  overflow: scroll;
}
.code-keyword {
  color: #df7700;
}

iframe.json-view {
  width: 50%;
  margin: 0 auto;
  display: block;
  border-radius: 10px;
  overflow: hidden;
  border: solid 1px black;
}

.inline-code {
  font-size: 1.1em;
}

.code-doctype-value {
  color: #999;
}

.code-tag-name {
  color: #aa0033;
}

.code-special {
  color: #750035;
}

.code-doctype {
  color: #666;
}

.code-primitive {
  color: #171be8;
}

.code-jsp-tag {
  color: #e6b449;
}

.code-attribute {
  color: #62017a;
}

.code-tag {
  color: blue;
}

.code-this {
  color: #0e1d80;
}

.code-annotation {
  color: #3300aa;
}

.code-string {
  color: green;
}

.code-comment {
  color: #555;
}

.code-new {
  color: #c001af;
}
.code-identifier {
  color: #3300aa;
}

.code-class {
  color: #0000aa;
}

h2,
h3,
h4,
h5 {
  color: white;
  background: black;
  padding: 1%;
}

nav.topics ul {
  list-style-type: none;
}

nav.topics ul li {
  margin: 10px 0;
}

body {
  background: white;
}

header > h1 {
  text-align: center;
}

section {
  margin: 0 auto;
  padding: 0 5%;
}

header {
  margin: 1%;
}

p {
  text-indent: 30px;
}

div.frame {
  width: 100%;
}

div.frame img {
  width: 100%;
}

h2.back-again a {
  background: black;
}

h2.back-again a {
  padding: 1%;
  margin: 2%;
  text-decoration: none;
}
nav.main-nav > ul {
  list-style: none;
  background-color: black;
}

nav.main-nav > ul > li {
  padding: 1%;
  color: white;
}

nav.main-nav > ul > li:hover {
  background-color: #444;
}

nav.main-nav > ul > li > a {
  color: inherit;
}

nav.main-nav > ul > li > a:visited {
  color: #888;
}

main {
  margin: 0 0 50px 0;
}

ul.notes {
  list-style: none;
}

ul.notes a {
  margin: 1%;
  padding: 1%;
}

ul.notes a:hover {
  background: black;
  color: white;
}

@media screen and (min-width: 800px) {
  nav.main-nav > ul {
    display: flex;
    flex-flow: row;
    margin: 1%;
  }

  div.frame {
    margin: 0 auto;
    width: 50%;
  }
}
