* {
  font-family: "PT Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
}

body {
  background: white;
}

header > h1 {
  text-align: center;
}

section {
  margin: 0 auto;
  padding: 0 5%;
}

header {
  margin: 1%;
}

p {
  text-indent: 30px;
}
@media screen and (min-width: 800px) {
  nav.main-nav > ul {
    display: flex;
    flex-flow: row;
    margin: 1%;
  }
}
h2.back-again a {
  background: black;
}

h2.back-again a {
  padding: 1%;
  margin: 2%;
  text-decoration: none;
}
nav.main-nav > ul {
  list-style: none;
  background-color: black;
}

nav.main-nav > ul > li {
  padding: 1%;
  color: white;
}

nav.main-nav > ul > li:hover {
  background-color: #444;
}

nav.main-nav > ul > li > a {
  color: inherit;
}

nav.main-nav > ul > li > a:visited {
  color: #888;
}

main {
  margin: 0 0 50px 0;
}

ul.notes {
  list-style: none;
}

ul.notes a {
  margin: 1%;
  padding: 1%;
}

ul.notes a:hover {
  background: black;
  color: white;
}
