PRIVILEGE TICKET PURCHASE ALLOW ALL

TICKET PURCHASE: NEED TO INPUT CARD_INFO EVERYTIME

DEFINITION USERS = CLIENTS

DEFINITION ADMINS = AIRLINE_ADMINISTRATORS

ADMIN CREATES FLIGHT

FLIGHT:
	MAX_SEATING_CAPACITY
	TAKE_OFF DATE/TIME
	SOURCE AIRPORT
	DESTINATION AIRPORT

ADMIN UPDATES MAX_SEATING_CAPACITY
ADMIN UPDATES TAKE_OFF DATE/TIME
ADMIN CANNOT UPDATE SOURCE AIRPORT
ADMIN CANNOT UPDATE DESTINATION AIRPORT

FLIGHT CHANGE EVENT!! FIRES WHEN ADMIN UPDATES TAKEOFF
FLIGHT CHANGE LISTENER EMAIL ALL USERS WITH TICKTETS

ADD CONSTRAINT NO DELETE ON FLIGHTS WITH PURCHASES

USER VIEW ON (FLIGHT) WHERE FLIGHT.TAKEOFF < UPPER_DATE_BOUND AND FLIGHT.TAKEOFF > LOWER_DATE_BOUND
USER ACTION: PURCHASE TICKET

PURCHASE TICKET REQUIRES: FULL NAME, EMAIL, STREET ADDRESS, PHONE, AMOUNT_OF_SEATS, CARD_INFO

SALE:
	FULL_NAME: string
	EMAIL: string
	STREET_ADDRESS: string
	PHONE: string
	AMOUNT_OF_SEATS: int
	CARD_INFO: CARD_INFO

ADD CONSTRAINT AMOUNT_OF_SEATS < FLIGHT.AVAILABLE_SEATS BEFORE COMPLETE_PURCHASE_TICKET

CARD_INFO:
	CARD_NUMBER: string
	CARD_NAME: string
	EXPIRE_MONTH: int
	EXPIRE_YEAR: int
	SECURITY_CODE: int

ADD CONSTRAINT ALL CARD_INFO FIELDS REQUIRED

ADD CONSTRAINT (CARD IS NOT EXPIRED) AND CARD.NUMBER STARTS WITH 9

ADD CONSTRAINT NO REAL CARD INFO MAY BE USED

ADD VIEW PURCHASED PAGE:
	VIEW FLIGHT INFO
	VIEW TICKET INFO

STORE TICKET SALE IN SQL DB
ADD CONSTRAINT PCI DSS COMPLIANT PAYMENT INFO



USER_ACCOUNT: CRU
	AUTHORIZATION: EVERYONE CAN CREATE AN ACCOUNT
   	SPECIAL_CONDITIONS: 
	  - ONLY ADMINS NEED IT
	  - ANYONE WITH AN ACCOUNT IS GRANTED ADMIN STATUS	

FLIGHTS: CRUD
	AUTHORIZATION: ADMINS CRUD EVERYONE ELSE R ONLY
	SPECIAL_CONDITIONS: 
	  - ADMINS CANNOT CHANGE EITHER DESTINATION OR SOURCE AIRPORTS
	  - IF ADMINS CHANGE TAKEOFF TIME EMAIL WILL BE SENT TO EVERY USER THAT HAS PURCHASED A TICKET
	  - IF TICKETS HAVE BEEN SOLD NO ADMIN CAN DELETE THE FLIGHT
	QUERIES:
	  - FLIGHTS THAT TAKEOFF BETWEEN A SET INTERVAL
	ATTRS:
	  - FlightId: int
	  - SeatingCapacity: int
	  # will be stored in epoch milli's
          - TakeOfDateTime: long 
	  - SourceAirport: Airport
          - DestinationAirport: Airport
	  - CurrentAmountOfSeats: int
	  # will be stored as minutes offset.
          - LengthOfTrip: long	

AIRPORT: R
	AUTHROIZATION: ANYONE CAN READ AND NO ONE IS ALLOWED TO ADD OR EDIT THE AIRPORTS IN ANYWAY
	SPECIAL_CONDITIONS:
	  - IMMUTABLE_DATA
          - PROBABLY HAVE THE USERS VIEW ALL AIRPORTS
	ATTRS:
	  - AirportId: int
	  - AirportName: string
	  - IataCode: string
	  - Timezone: string
	  - MajorCity: string
	  - State: string
SALES: CRUD
	AUTHORIZATION: ANYONE ALLOWED CR BUT ONLY ADMINS U
	SPECIAL_CONDITIONS: 
	  - VALIDATE THAT THEY HAVE THAT MANY SEATS AVAILABLE BEFORE SELLING IT HOMIE
	  - VALIDATE THE CARD_INFO
	ATTRS:
	  - Flight: Flight
	  - AmountOfTickets: int
	  - PaymentInfo: cardInfo
          - FullName: string
	  - Email: string
	  - StreetAddress: string
	  - Phone: string
CARD_INFO: CRUD
	AUTHORIZATION: ANYONE ALLOWED CRUD
	SPECIAL_CONDITIONS:
	  - VALDIATE THE ANY CARD THAT HASNT EXPIRED AND STARTS WITH A 9
	  - DO NOT USE ACTUAL CARD INFO
	ATTRS:
	  # we can only store the last 4 digits of the number so be careful.
	  - CardNumber: string
	  # this will be the name on the card so for me it would be mellow
	  - CardName: string
	  # cards expire after the month has passed.
	  - ExpiryMonth: int
	  - ExpiryYear: int
	  # we cannot store this in a database because of legal reasons.
	  - SecurityCode: int